<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				&copy; Joey Nichols, forever.
				{% if site.email %}
					<a href="mailto:{{ site.email }}" target="_blank">Email</a>
				{% endif %}
				{% if site.twitter_username %}
					<a href="twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a>
				{% endif %}
				{% if site.github_username %}
					<a href="github.com/{{ site.github_username }}" target="_blank">Github</a>
				{% endif %}
			</div>
		</div>
	</div>
</footer>