<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "Joey Nichols",
    "url": "https://www.joeynichols.com",
    "email": "joeyquarters@gmail.com",
    "jobTitle": "Software Engineer",
    "sameAs": [
      "https://twitter.com/joeyquarters",
      "https://github.com/joeyquarters",
      "https://www.facebook.com/joeyquarters",
      "https://www.linkedin.com/in/joeyquarters/",
      "https://www.instagram.com/joeyquarters/",
      "https://angel.co/joey-nichols"
    ]
  }
</script>
