<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "Joey Nichols",
    "url": "https://www.joeyquarters.com",
    "email": "joeyquarters@gmail.com",
    "jobTitle": "Front End Developer",
    "worksFor": {
      "@type": "NewsMediaOrganization",
      "name": "The Atlantic",
      "url": "https://www.theatlantic.com"
    },
    "sameAs": [
      "https://twitter.com/joeyquarters",
      "https://github.com/joeyquarters",
      "https://www.facebook.com/joeyquarters",
      "https://www.linkedin.com/in/joeyquarters/",
      "https://www.instagram.com/joeyquarters/",
      "https://plus.google.com/+JoeyNichols",
      "https://angel.co/joey-nichols"
    ]
  }
</script>
