///////////////////
// Screen Reader //
///////////////////

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

////////////////////
// Helper Classes //
////////////////////

@media only screen and (max-width: 64em) {
	.hidden-md { display: none; }
}

@media only screen and (max-width: 48em) {
	.hidden-sm { display: none; }
}

@media only screen and (max-width: 30em) {
	.hidden-xs { display: none; }
}

.visible-lg { display: none; }
@media only screen and (min-width: 64em) {
	.visible-lg {
		display: block;
	}
}