// =============
// Colors
// =============

$text-color:     #616161;
$link-color:     blue;

$jq-teal:        #24B47E;

// =============
// Spacing
// =============

$grid-gutter:     30px;
$grid-columns:    12;